# Debug mode (optional, default: true)
debug: true

# Telegram bot configuration
telegram:
  # Bot token (required)
  token: ""

# Concurrency configuration
concurrency-limit: 100

# Redis configuration
redis:
  # Redis server address (required)
  address: "localhost:6379"
  # Redis password (required)
  password: ""
  # Redis database number (required)
  db: 0

# Webhook configuration
webhook:
  enabled: false
  url: ""
  port: ""